<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>enemyType</key>
			<string>BasicEnemy</string>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>enemyType</key>
			<string>BasicEnemy</string>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<real>1.1</real>
		</dict>
		<dict>
			<key>enemyType</key>
			<string>BasicEnemy</string>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<real>2.1</real>
		</dict>
		<dict>
			<key>enemyType</key>
			<string>BasicEnemy</string>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<real>3.1</real>
		</dict>
		<dict>
			<key>enemyType</key>
			<string>BasicEnemy</string>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<real>4.1</real>
		</dict>
		<dict>
			<key>enemyType</key>
			<string>BasicEnemy</string>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<real>5.1</real>
		</dict>
	</array>
	<array>
		<dict>
			<key>enemyType</key>
			<string>BasicEnemy</string>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>enemyType</key>
			<string>BasicEnemy</string>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>enemyType</key>
			<string>BasicEnemy</string>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<integer>3</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>enemyType</key>
			<string>BasicEnemy</string>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>enemyType</key>
			<string>BasicEnemy</string>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<real>30</real>
		</dict>
	</array>
</array>
</plist>
