<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>SplitTower</string>
		<string>BasicTower</string>
		<string>BasicTower</string>
		<string>SplitTower</string>
		<string>SplitTower</string>
		<string>BasicTower</string>
		<string>BasicTower</string>
		<string>SplitTower</string>
	</array>
	<array>
		<string>SplitTower</string>
		<string>SplitTower</string>
		<string>BasicTower</string>
		<string>BasicTower</string>
		<string>SplitTower</string>
		<string>SplitTower</string>
		<string>BasicTower</string>
		<string>BasicTower</string>
	</array>
</array>
</plist>
